.shelter-applications-page {
  padding: 40px;
  border-radius: 44px;
  background-color: white;
  flex: 1;
}

.shelter-applications-page h1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  color: var(--title-color-dark);
}
