.pet-gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.pet-gallery-main {
  width: 100%;
  border-radius: 22px;
  overflow: hidden;
}

.pet-gallery-main img {
  width: 100%;
  height: 527px;
  object-fit: cover;
  display: block;
}

.pet-gallery-thumbs {
  width: 100%;
}

.pet-gallery-thumbs img {
  border-radius: 8px;
  overflow: hidden;
  height: 82px;
  width: 82px;
  object-fit: cover;
  display: block;
}

.pet-gallery-thumbs .swiper-slide {
  opacity: 0.5;
}

.pet-gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
