.email-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-confirm-title {
  font-size: 24px;
  font-weight: 800;
  color: var(--title-color-dark);
}

.email-confirm-message {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--title-color-dark);
  text-align: center;
  margin: 32px 0;
}
